body {
  background-color: blanchedalmond;
}
ul {
  background-color: grey;
}
.image-container {
  display: flex;
  align-items: center;
  border: 1px dotted black;
}
img {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
